<div class="container">
    <div class="col-md-8">
        <h3>User Profile:</h3>
        <div [hidden]="edit">
            <p><strong>Username: </strong>{{user?.username}}</p>
            <p><strong>Email: </strong>{{user?.email}}</p>
            <p><strong>First name: </strong>{{user?.first_name}}</p>
            <p><strong>Last name: </strong>{{user?.last_name}}</p>
            <p><strong>Location: </strong>{{user?.location}}</p>
            <p><strong>Company: </strong>{{user?.company}}</p>
            <p><strong>Gender: </strong>{{user?.gender}}</p>
            <p><strong>Phone number: </strong>{{user?.phone_number}}</p>
        </div>
        <form [hidden]="!edit" (ngSubmit)="update()" #updateUserForm="ngForm">
            <div class="form-group">
               <label for="first_name">First name</label>
               <input type="text" class="form-control" name="first_name" [(ngModel)]="model.first_name" #first_name="ngModel" required />
            </div>
            <div class="form-group">
               <label for="last_name">Last name</label>
               <input type="text" class="form-control" name="last_name" [(ngModel)]="model.last_name" #last_name="ngModel" required />
            </div>
            <div class="form-group">
               <label for="location">Location</label>
               <input type="text" class="form-control" name="location" [(ngModel)]="model.location" #location="ngModel" required />
            </div>
            <div class="form-group">
               <label for="company">Company</label>
               <input type="text" class="form-control" name="company" [(ngModel)]="model.company" #company="ngModel" required />
            </div>
            <div class="form-group">
               <label for="gender">Gender</label>
               <select required class="form-control" [ngModel]="model.gender" (change)="model.gender=gender.value"name="gender" #gender>
                   <option value="M">Male</option>
                   <option value="F">Female</option>
               </select>
            </div>
            <div class="form-group">
               <label for="phone_number">Phone number</label>
               <input type="text" class="form-control" name="phone_number" [(ngModel)]="model.phone_number" #phone_number="ngModel" required />
            </div>
            <input type="button" (click)="set_edit(false)" value="Cancel"/> <!-- add cancel logic -->
            <input type="submit" value="OK" />
        </form>
    </div>
    <div class="col-md-8" [hidden]="edit">
        <button (click)="set_edit(true)">Edit</button> <!-- add logic -->
    </div>
    <div class="col-md-8">
        <a routerLink=""> Go back to main site </a>
    </div>
</div>
