<div class="container">
  <div class="col-md-8">
    <h3>User Profile:</h3>
    <div [hidden]="edit">
      <p><strong>Username: </strong>{{user?.username}}</p>
      <p><strong>Email: </strong>{{user?.email}}</p>
      <p><strong>First name: </strong>{{user?.first_name}}</p>
      <p><strong>Last name: </strong>{{user?.last_name}}</p>
      <p><strong>Location: </strong>{{user?.location}}</p>
      <p><strong>Company: </strong>{{user?.company}}</p>
      <p><strong>Gender: </strong>{{user?.gender}}</p>
      <p><strong>Phone number: </strong>{{user?.phone_number}}</p>
    </div>
    <form [hidden]="!edit" (ngSubmit)="update()" [formGroup]="form">
          <ng-container *ngFor="let el of elements">
              <app-form-element [element]="el" [form]="form"></app-form-element>
          </ng-container>
          <input type="button" (click)="set_edit(false)" value="Cancel"/> <!-- add cancel logic -->
          <input type="submit" value="OK"/>
    </form>
  </div>
  <div class="col-md-8" [hidden]="edit">
    <button (click)="set_edit(true)">Edit</button> <!-- add logic -->
  </div>
  <div class="col-md-8">
    <a routerLink=""> Go back to main site </a>
  </div>
</div>
