<div class="container">
  <div class="row">
    <h3> Upload your RIOT app:</h3>
    <div class="col-sm-6">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div [hidden]="!message" class="alert alert-success">
            {{message}}
          </div>
          <div [hidden]="errors.length == 0" class="alert alert-danger">
            <ul>
              <li *ngFor="let error of errors">{{error}}</li>
            </ul>
          </div>

          <ng-container *ngFor="let el of elements">
              <app-form-element [element]="el" [form]="form"></app-form-element>
          </ng-container>

          <app-form-element [element]="file_element" [form]="form" (notify_file)="fileChanged($event)"></app-form-element>

          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

