<div class="container">
  <div class="row">
    <h3> Upload your RIOT app:</h3>
    <div class="col-sm-6">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div [hidden]="!message" class="alert alert-success">
            {{message}}
          </div>
          <div [hidden]="errors.length == 0" class="alert alert-danger">
            <ul>
              <li *ngFor="let error of errors">{{error}}</li>
            </ul>
          </div>
          <app-form-element [element]="elements[0]" [form]="form"></app-form-element>
          <app-form-element [element]="elements[1]" [form]="form"></app-form-element>
          <app-form-element [element]="elements[2]" [form]="form"></app-form-element>
          <app-form-element [element]="elements[3]" [form]="form"></app-form-element>
          <app-form-element [element]="elements[4]" [form]="form" (notify_file)="fileChanged($event)"></app-form-element>

          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

