<div class="container">
  <div class="row">
    <h3> Upload your RIOT app:</h3>
    <div class="col-sm-6">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div [hidden]="!message" class="alert alert-success">
            {{message}}
          </div>
          <div [hidden]="errors.length == 0" class="alert alert-danger">
            <ul>
              <li *ngFor="let error of errors">{{error}}</li>
            </ul>
          </div>
          <div class="form-group">
              <label class="center-block">Name:
                  <input class="form-control" formControlName="name">
              </label>
          </div>
          <div class="form-group">
              <label class="center-block">Description</label>
              <textarea ref-textarea formControlName="description" class="form-control" rows=12></textarea>
          </div>
          <div class="form-group">
              <label class="center-block">Licenses</label>
              <input type="text" class="form-control" formControlName="licenses">
          </div>
          <div class="form-group">
              <label class="center-block">Project Page</label>
              <input type="text" class="form-control" formControlName="project_page">
          </div>
          <div class="form-group">
              <label class="center-block">App in tar.gz format. Ensure the Makefile is in the root (e.g
              my_app.tar.gz/Makefile)</label>
              <input type="file" accept=".tar.gz" formControlName="file" (change)="fileChanged($event)">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

