<header class="masthead">
  <div id="main-jumbotron" class="jumbotron">
    <div class="container-fluid main-jumbotron-container">
      <div class="row">
        <div class="col-sm-2">

          <!-- <app-missing-components-label-section *ngIf="!extensionAvailable || !nativeMessagingHostAvailable;"></app-missing-components-label-section> -->

        </div>
        <div class="col-sm-8">

          <div class="container">
            <div class="col-sm-7">
              <h1><a routerLink="" style="text-decoration: none">RAPstore</a></h1>
              <h4>The friendly App Store for the Internet of Things.</h4>
            </div>

            <div class="col-sm-3">
              <span class="label label-default">powered by</span>
              <a href="https://riot-os.org/">
                <img src="/assets/img/riot_logo.png" alt="RIOT logo" class="img-responsive" width="250"/>
              </a>
            </div>
            <div class="col-sm-2">

            </div>
          </div>

        </div>
        <div class="col-sm-2">
          <p class="pull-right"><span class="label label-warning">BETA</span></p>
        </div>
      </div>
    </div>
  </div>
</header>
<simple-notifications></simple-notifications>
<ngx-bootstrap-feedback [configuration]="feedbackConfiguration">
  <!-- Your customizations. -->
  <div class="row">
    <!-- Input fields. -->
    <div class="col-md-12">
      <h6>
        We highly appreciate any feedback you can give us. With your feedback we can improve our service for you and
        other people to be able to provide a better user experience. What do you like? What do you dislike? <br>
        Thank you very much for your support!
      </h6>
      <br>
      <!-- Description field. -->
      <div class="row">
        <div class="col-md-12">
          <div class=" form-group form-group-sm">
            <label for="description-input">Description:</label>
            <textarea id="description-input" class="form-control width-locked" rows="5" required
                      [(ngModel)]="feedback.description"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-bootstrap-feedback>


<!--block navbar-->
<div class="nav-wrapper">
  <nav class="nav navbar navbar-default affix" data-spy="affix" data-offset-top="160">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">

        <ul class="nav navbar-nav">
          <li [routerLinkActive]="['active']"><a routerLink="/app">Applications</a></li>
          <ng-container *ngIf="user">
            <li [routerLinkActive]="['active']"><a routerLink="/upload">Upload your RIOT application</a></li>
            <!--<li *ngIf="user && user.is_dev"><a routerLink="developer">Developer</a></li>-->
          </ng-container>
          <!--endif-->
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <form class="navbar-form navbar-left">
            <!--include "board_selector.html"-->
          </form>

          <!--<form class="navbar-form navbar-left">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search" autofocus="autofocus">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
          </form>-->

          <ng-container *ngIf="user">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                 aria-haspopup="true" aria-expanded="false">Logged in as <b>{{user?.username}}</b><span
                class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a routerLink="user-profile">Your profile</a></li>
                <!--<li><a href="#">Your configurations</a></li>-->
                <li role="separator" class="divider"></li>
                <li><a (click)="logout()">Log out</a></li>
              </ul>
            </li>

          </ng-container>
          <ng-container *ngIf="!user">
            <li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
            <li><a (click)="request_login_page()"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div id="content-view" class="container-fluid">
  <router-outlet></router-outlet>
</div>

<div style="padding-bottom: 100px;"></div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">&copy; 2017-2018</div>
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li><a class="footer-link" routerLink="/about">About</a></li>
          <li><a class="footer-link" routerLink="/imprint">Imprint</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li><a class="footer-link" routerLink="/install-instruction-browser-integration">Advanced flashing</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <a href="https://riot-os.org/">
          <img src="/assets/img/riot_logo_footer.png" alt="RIOT logo" width="64" height="35"/>
        </a>
      </div>
    </div>
  </div>
</footer>
