<div class="container">
  <br><br>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
      <form (ngSubmit)="signup()" #signupForm="ngForm">
        <div [hidden]="errors.length == 0" class="alert alert-danger">
          <ul>
            <li *ngFor="let error of errors">{{error}}</li>
          </ul>
        </div>
        <div [hidden]="!message" class="alert alert-success">
          {{message}}
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="model.username" #username="ngModel"
                 required/>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel"
                 required/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="email" placeholder="Email address" [(ngModel)]="model.email" #email="ngModel" required/>
        </div>
        <button class="btn btn-block btn-primary" type="submit">Sign up</button>
      </form>
    </div>
    <div class="col-sm-2">
      <h3 class="text-center">OR</h3>
    </div>
    <div class="col-sm-4">
      <div [hidden]="social_loading">
        <a href="{{github_url}}" class="btn btn-block btn-social btn-github">
          <span class="fa fa-github"></span> Sign up with Github
        </a>
      </div>
      <div [hidden]="!social_loading">
        <h3> Loading... </h3>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
