<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>About</h2>
          <h5>
            RAPstore is an app store for RIOT, the friendly operating system for the Internet of Things.
            We want to bring developers and users of IoT apps together.
            As such we provide a platform to share applications for
            constrained IoT devices in a ready to use way.
          </h5>
          <h5>
            Every 3 hours RAPstore fetches all applications which are part
            of <code>examples</code> in the <a
            href="https://github.com/RIOT-OS/RIOT/tree/master/examples">RIOT
            master branch</a>. App users can then select the app they need
            and RAPstore will provide an image for the IoT device of the
            users. Depending on the IoT device, installing the app either
            requires additional tools (e.g., flasher) or just drag and drop
            of the image to the device connected via USB.
          </h5>
          <h5>
            In addition to apps that are part of the open RIOT repository,
            developers can also upload their apps to RAPstore directly.
          </h5>
          <h5>
            Note that the current version is beta. We continuously work on
            improving RIOT and RAPstore. We highly appreciate any feedback.
          </h5>
          <br>
          <h6>Read more about RAPstore at <a href="https://rapstore.riot-apps.net/#news">our project page</a>.</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
