<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <h2>About</h2>
      <h5>
        The Internet of Things (IoT) is a game changer for the Internet. However, to be successful on the long-term, the
        IoT needs an ecosystem that enables easy and secure adaption of IoT devices to the needs of their consumers.
        A key enabler to achieve this goal is software.
      </h5>
      <h5>
        In RAPstore, we design, develop, and test an app store for low-end IoT devices. Similar to the mobile market, we
        aim for a platform that allows application developers to share software with end users, and to allow end users to
        update their IoT devices more easily compared to the current state of art. In contrast to the mobile market, these
        applications will run on many more devices with very constrained resources. We develop our solutions for the most
        modern operating system of the IoT, RIOT.
      </h5>
      <br>
      <h6>Read more at <a href="https://rapstore.riot-apps.net/#news">our project page</a>.</h6>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
