<div class="container">

  <div class="gap-50"></div>

  <h2 class="text-center">Install instructions for drag and drop</h2>
  <font size="4">
    <p>In order to install an app on your IoT device, you can simply copy
    the binary file directly to the board. However, this drag and drop
    mechanism is only supported for a subset of boards.
    Have a look at the detail page of the board to know whether your board is supporting that mechanism.</p>
  </font>

  <div class="gap-50"></div>

  <div class="row">

    <div class="col-sm-1">
    </div>

    <div class="col-sm-10">

      <div class="well text-center">
        <h3>1. Download your app's binary</h3>
        <font size="4">
          <p>Save the file in your default 'Download' directory</p>
        </font>
      </div>

      <div class="gap-50"></div>

      <div class="well text-center">
        <h3>2. Open your file explorer</h3>
        <font size="4">
          <ul class="text-left">
            <li>Navigate to your 'Download' directory</li>
            <li>Open a new window or tab and navigate to the storage of the connected device</li>
          </ul>
        </font>
      </div>

      <div class="gap-50"></div>

      <div class="well text-center">
        <h3 class="text-center">3. Drag and drop the binary file to the storage</h3>
        <img class="img-responsive" src="/assets/img/windows-drag-and-drop.png"
             alt="Drag and drop on Windows"/>
      </div>

      <div class="gap-50"></div>

      <div class="well text-center">
        <h3>4. Your app is ready to use</h3>
        <font size="4">
          <p>You can disconnect your device if the process has finished
          (e.g., if the device's LED is not
            blinking anymore)</p>
        </font>
      </div>

      <div class="gap-50"></div>

      <div class="text-center">
        <a routerLink="/" class="btn btn-primary btn-lg">Go back to main site</a>
      </div>

      <div class="gap-50"></div>

    </div>

    <div class="col-sm-1">
    </div>


  </div>
</div>
