<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div [hidden]="social_loading">
      <h3> Login:</h3>
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <div [hidden]="!error" class="alert alert-danger">
          {{error}}
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
                 required/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
                 required/>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
      </form>
      <a href="{{github_url}}">Login with Github</a>
      </div>
      <div [hidden]="!social_loading">
          <h3> Loading... </h3>
      </div>
    </div>
  </div>
</div>
