{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{% static '/web/img/favicon.png' %}" type="image/png">
        <link rel="stylesheet" href="{% static '/web/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/web/css/custom.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static '/web/js/bootstrap.min.js' %}"></script>
        <script src="{% static '/web/js/main.js' %}"></script>
        <script src="{% static '/web/js/browser-integration.js' %}"></script>
        <script src="{% static '/web/js/dialogs.js' %}"></script>
        <script src="{% static '/web/js/webusb-autodetect.js' %}"></script>

        <title>RAPstore</title>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h1>RAPstore</h1>
                        <p>Let us build your custom RIOT OS according to your needs</p>
                        {% if user.is_authenticated %}
                        <p>Hello, {{user.username|capfirst}}. <a href="{%url 'logout'%}">Log out.</a></p>
                        {% else %}
                        <p> <a href="{%url 'login'%}">Login</a> </p>
                        {% endif %}
                    </div>
                    <div class="col-sm-4">
                        <img src="{% static '/web/img/riot_logo.png' %}" alt="RIOT logo" class="img-responsive"></img>
                    </div>

                    {% with dialog_id="modalDialogBrowserIntegration" title="Component for RAPstore browser integration is missing" message="" %}
                    {% include "modal_dialog.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">&copy; 2017-2018</div>
                    <div class="col-sm-4">
                        <a href="https://riot-os.org/">
                            <img src="{% static '/web/img/riot_logo_footer.png' %}" alt="RIOT logo" width="64" height="35"></img>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
