{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{% static '/web/img/favicon.png' %}" type="image/png">
        <link rel="stylesheet" href="{% static '/web/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/web/css/custom.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static '/web/js/bootstrap.min.js' %}"></script>
        <script src="{% static '/web/js/main.js' %}"></script>
        <script src="{% static '/web/js/browser-integration.js' %}"></script>
        <script src="{% static '/web/js/dialogs.js' %}"></script>
        <script src="{% static '/web/js/webusb-autodetect.js' %}"></script>
        {% block extra_scripts %}
        {% endblock %}

        {% with dialog_id="modalDialogBrowserIntegration" title="Component for RAPstore browser integration is missing" message="" %}
        {% include "modal_dialog.html" %}
        {% endwith %}

        <title>RAPstore</title>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h1>RAPstore</h1>
                        <p>Let us build your custom RIOT OS according to your needs</p>
                    </div>
                    <div class="col-sm-4">
                        <img src="{% static '/web/img/riot_logo.png' %}" alt="RIOT logo" class="img-responsive"></img>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="{% static '/web/img/riot_logo.png' %}" height="20px">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul id="navigations_tabs" class="nav navbar-nav">
                        <li class="active"><a data-toggle="tab" href="#tab0">Example applications</a></li>
                        <li><a data-toggle="tab" href="#tab1">Your custom RIOT OS</a></li>
                        {% if perms.api.has_dev_perm %}
                        <li><a data-toggle="tab" href="#tab2">Developer</a></li>
                        {%endif%}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search" autofocus="autofocus">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>

                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Logged in as <b>{{user.username}}</b><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Your profile</a></li>
                                <li><a href="#">Your configurations</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{%url 'logout'%}">Log out</a></li>
                            </ul>
                        </li>

                        {% else %}
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
                        <li><a href="{%url 'login'%}"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">&copy; 2017-2018</div>
                    <div class="col-sm-4">
                        <a href="https://riot-os.org/">
                            <img src="{% static '/web/img/riot_logo_footer.png' %}" alt="RIOT logo" width="64" height="35"></img>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
