<!-- ID_PREFIX, SELECTOR_ID-->
<h3>1. Select a board:</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <select class="form-control board-selector" data-bind="value: boardsel, event:{change: set_board_name}">
                    {% for board in boards %}
                    <option value="{{board.internal_name}}">{{board.display_name}} ({{board.internal_name}})</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <button id="{{id_prefix}}autodetectButton" type="button" class="btn btn-default btn-block" onclick="autodetect('{{id_prefix}}boardSelector')">Try autodetect</button>
        </div>
    </div>
</div>
