{% with id_prefix="customTab_" column_width="3" %}
{% include "board_selector.html" %}
<h3>2. Upload your main C file:</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <input id="{{ id_prefix }}main_file_input" type="file" name="img[]" class="file">
            <div class="input-group">
                <input type="text" class="form-control" readonly placeholder="Upload main source file">
                <span class="input-group-btn">
                    <button class="browse btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                </span>
            </div>
        </div>
    </div>
</div>

<h3>3. Select modules:</h3>
<div class="container-fluid">
{% regroup modules by group_identifier as group_internals %}
{% for group in group_internals %}
    <div class="checkbox well"><h4>{{ group.grouper }}</h4>
        <div class="row">
        {% for checkbox in group.list|dictsort:"name" %}
            <div class="col-sm-{{ column_width }}">
                <label>
                    <input type="checkbox" name="module_checkbox" value="{{ checkbox.id }}">
                    <div data-toggle="tooltip" data-placement="bottom" title="{{checkbox.description}}">{{checkbox.name}}</div>
                </label>
            </div>
            {% if forloop.counter|divisibleby:"4" and not forloop.last %}
            </div><div class="row">
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endfor %}
</div>

<h3>4. Build and flash:</h3>
<div class="container-fluid">
    <button id="{{ id_prefix }}buttonBuildFlash" type="button" class="btn btn-primary build-and-flash-button" style="margin-right: 20px;" onclick="buildAndFlashCustom()">Install</button>
    <button id="{{ id_prefix }}buttonDownload" type="button" class="btn btn-primary build-and-download-button" onclick="buildAndDownloadCustom()">Download only</button>
    <hr/>
    <div class="well" id="{{ id_prefix }}cmdOutput">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" id="{{ id_prefix }}progressBar" style="width:100%; visibility:hidden"></div>
        </div>
    </div>
</div>
{% endwith %}
