<div class="row">

    <div class="col-sm-12">

        <div class="row">

            <div class="col-sm-2">
            </div>

            <div class="col-sm-9">
                {% with id_prefix="examplesTab_" column_width="4" %}
                <div class="row">
                {% for application in applications %}
                    <div class="col-sm-2">
                        <div>
                            <a class="a-wrapper-no-decoration" href="{% url "app-details" pk=application.pk %}">
                                <div class="panel panel-default app-overview-item">
                                    <div class="panel-body app-panel-body app-panel text-center">
                                        <img class="avatar center-block" width="170" height="170" avatar="{{application.name}}">
                                        <p class="app-name">{{application.name}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:6 and not forloop.last %}
                    </div><div class="row">
                    {% endif %}
                {% endfor %}
                </div>
                {% endwith %}
            </div>

            <div class="col-sm-1">
            </div>

        </div>

    </div>

</div>
