{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="gap-50"></div>

    <h2 class="text-center">Install instructions for the RAPstore browser integration</h2>
    <font size="4">
        <p>In order to bring the apps provided by RAPstore on your device, some additional software is needed. The browser is not able to do
        all necessary steps (mainly because of security reasons). With the browser integration, which consists of an extension and a native
        application, you get the ability to download an app directly on to your IoT device, without any further knowledge about programming software
        for your device.</p>
    </font>

    <div class="gap-50"></div>

    <div class="row">

        <div class="col-sm-3">
        </div>

        <div class="col-sm-6">

            <div class="well">
                <h3 class="text-center">1. Prerequisites</h3>
                <font size="4"><ul>
                    <li>OS: Unix-based (e.g. Ubuntu)</li>
                    <li>Browser: Firefox, Chrome or Chromium</li>
                    <li>Python</li>
                </ul></font>
            </div>

            <div class="gap-50"></div>

            <div class="well">
                <h3 class="text-center">2. Download</h3>
                <font size="4"><ul>
                    <li>
                        Download zip archive
                        <a href="https://github.com/riot-appstore/rapstore-browser-integration/archive/v0.1.0.zip" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download-alt"> Download</span></a>
                    </li>
                    <li>Store the archive in a program directory</li>
                    <li>Unzip the archive (you can delete the archive afterwards)</li>
                </ul></font>
            </div>

            <div class="gap-50"></div>

            <div class="well">
                <h3 class="text-center">3. Installation</h3>
                <font size="4"><ul>
                    <li>open a terminal</li>
                    <li>execute <b class="text-primary">"cd your_install_path/src"</b></li>
                    <li>execute <b class="text-primary">"python install.py browser"</b>, where browser is one of [firefox, chrome, chromium]</li>
                </ul></font>
            </div>

            <div class="gap-50"></div>

            <div class="well">
                <h3 class="text-center">4. Finish</h3>
                <font size="4"><p>If you are installing for chrome or chromium you will need to restart your browser to enable the extension.</p></font>
            </div>

            <div class="gap-50"></div>

            <div class="text-center">
                <a href="{% url 'main_site'%}" class="btn btn-primary btn-lg">Go back to main site</a>
            </div>

            <div class="gap-50"></div>

        </div>

        <div class="col-sm-3">
        </div>


    </div>
</div>
{% endblock %}
