{% extends "base.html" %}
{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<script>
    if(localStorage) {
        $(document).ready(function(){

            if(localStorage.board) {
                $('.board-selector').each(function() {
                    $(this).val( localStorage.board );
                });
            }

            var viewModel = {
                set_board_name: function() {
                    localStorage["board"] = $('.board-selector').val();
                },
                boardsel: ko.observable()
            };
            ko.applyBindings(viewModel);

        });
    }
</script>
{% endblock %}
{% block navbar %}
<ul id="navigations_tabs" class="nav navbar-nav">
    <li class="active"><a data-toggle="tab" href="#tab0">Example applications</a></li>
    <li><a data-toggle="tab" href="#tab1">Your custom RIOT OS</a></li>
    {% if perms.api.has_dev_perm %}
    <li><a data-toggle="tab" href="#tab2">Developer</a></li>
    {%endif%}
</ul>
{% endblock %}
{% block content %}
<div class="tab-content">
    <div id="tab0" class="tab-pane fade in active">
        {% include "examples.html" %}
    </div>

    <div id="tab1" class="tab-pane fade">
        {% include "custom.html" %}
    </div>
    {% if perms.api.has_dev_perm %}
    <div id="tab2" class="tab-pane fade">
        {% include "dev.html" %}
    </div>
    {% endif %}
</div>
{% endblock %}
