{% extends "base.html" %}
{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<script>
    $(document).ready(function(){
    var VM = {
        editing: ko.observable(false),
        setEdit: function() {
            this.editing(true);
        },
        cancelEdit: function() {
            this.editing(false);
        },
        finishEdit: function() {
            this.editing(false);
        }
    };
    ko.applyBindings(VM);
    });
</script>

{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-8"> 
        <div data-bind="visible: !editing()">
            <p><strong>Username: </strong>{{user.username}}</p>
            <p><strong>Email: </strong>{{user.email}}</p>
        </div>
        <form action="/user-profile/" data-bind="visible: editing()" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="button" data-bind="visible: editing(), click: cancelEdit" value="Cancel"/>
            <input type="submit" value="OK" />
        </form>
    </div>
    <div class="col-md-8"> 
        <button data-bind="visible: !editing(), click: setEdit">Edit</button>
    </div>
</div>
{% endblock %}
