<div class="row">
  <ng-container *ngFor="let application of apps">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <div>
        <a class="a-wrapper-no-decoration-white-text" routerLink="/app/{{application.id}}">
          <div class="card app-overview-item">
            <div class="card-block app-panel text-center">
              <p class="app-name">{{application?.name | uppercase}}</p>
              <div class="box">
                <div class="ribbon ribbon-official" *ngIf="application?.source == 'R'; else app_is_external"><span>RIOT MASTER</span></div>
                <ng-template #app_is_external>
                  <div class="ribbon ribbon-external"><span>EXTERNAL</span></div>
                </ng-template>
                <ngx-avatar name="{{application?.name}}" [round]="false" borderCorner=0 size="170" textSizeRatio=3></ngx-avatar>
              </div>
              <div id="app-info-section">
                <p class="float-left"><i class="fa fa-download"></i>
                  {{application?.download_count}}</p>
                <p class="float-right"><i class="fa fa-user"></i>
                  {{application?.author.username}}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </ng-container>
</div>
