.app-overview-item {
    -webkit-transition: background 0.5s; /* For Safari 3.1 to 6.0 */
    transition: background 0.5s;
}

.app-overview-item:hover {
    background: #2a9fd6;
}

.a-wrapper-no-decoration {
    text-decoration: none;
    font-weight: normal;
    color: white;
}

.a-wrapper-no-decoration:hover {
    text-decoration: none;
    font-weight: normal;
    color: white;
}

.app-panel .app-name {
    font-size:1.2em;
    margin-bottom: 1em;
}

#app-info-section {
    margin-top: 2em;
}
