<div class="row">

  <ng-container *ngFor="let application of apps; let i = index">

    <div class="clearfix visible-sm-block" *ngIf="i % 4 == 0"></div>
    <div class="clearfix visible-md-block" *ngIf="i % 6 == 0"></div>

    <div class="col-sm-3 col-md-2">
      <div>
        <a class="a-wrapper-no-decoration" routerLink="/app/{{application.id}}">
          <div class="panel panel-default app-overview-item">
            <div class="panel-body app-panel text-center">
              <p class="app-name">{{application?.name | uppercase}}</p>

              <div class="box">
                <div class="ribbon ribbon-official" *ngIf="application?.source == 'R'; else app_is_external"><span>RIOT MASTER</span></div>

                <ng-template #app_is_external>
                  <div class="ribbon ribbon-external"><span>EXTERNAL</span></div>
                </ng-template>

                <ngu-letter-avatar avatar-font-size="90" avatar-width="170px" avatar-height="170px"
                                   avatar-data='{{application?.name}}'></ngu-letter-avatar>
              </div>


              <div id="app-info-section">
                <p class="pull-left"><span class="glyphicon glyphicon-download-alt" aria-hidden=true></span>
                  {{application?.download_count}}</p>
                <p class="pull-right"><span class="glyphicon glyphicon-user" aria-hidden=true></span>
                  {{application?.author.username}}</p>
              </div>
            </div>

          </div>
        </a>
      </div>
    </div>

  </ng-container>

</div>
