<div class="container rounded app-panel card">
  <div class="row">
    <div class="col-sm-1">
      <a class="btn btn-primary download-binary-with-info" routerLink="/app/{{application?.id}}">
        <span class="oi oi-arrow-thick-left"></span>
      </a>
    </div>
    <div class="col-sm-11">
      <nav class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=""><span class="oi oi-home"></span></a></li>
        <li class="breadcrumb-item"><a routerLink="/app/{{application?.id}}">{{application?.name}}</a></li>
        <li class="breadcrumb-item active">Install</li>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3> Install app on your device </h3>
      <div [hidden]="!error" class="alert alert-danger">
        {{error}}
      </div>
      <div [hidden]="!loading" class="alert alert-success">
          Successfully requested build. You can continue browsing the website while the service builds the app.
      </div>
      <div class="well well-sm">
        <p *ngIf="selected_board?.storage_flash_support">
          <span class="oi oi-check"></span> This board supports Drag and Drop flashing. <a routerLink="/install-instruction-drag-and-drop">Follow the instructions here.</a>
        </p>

        <p *ngIf="!selected_board?.storage_flash_support">
          <span class="oi oi-x"></span> This board doesn't support Drag and Drop. Only ELF file is provided.
        </p>
      </div>
      <div class="form-group">
        Board
        <app-board-selector (notify)="onBoardChange($event)"></app-board-selector>
      </div>
      <!--
      <div class="form-group">
          Configuration
          <textarea class="form-control"></textarea>
      </div>
      -->
      <!--<button type="button" class="btn btn-primary">Install on device</button>-->
      <div class="btn-group" role="group" aria-label="Basic example">
        <button [hidden]="!selected_board?.storage_flash_support" [disabled]="loading" type="button" class="btn btn-primary download-binary-with-info"
                (click)="request_build(application.id, 'bin')">Download binary file
        </button>
        <button [hidden]="!selected_board?.storage_flash_support" [disabled]="loading" routerLink="/install-instruction-drag-and-drop" type="button" class="btn btn-primary" style="margin-right: 0.5em">
          <span class="oi oi-info"></span>
        </button>
        <button [disabled]="loading" type="button" class="btn btn-primary download-binary-with-info"
                (click)="request_build(application.id, 'elf')">Download ELF
        </button>
      </div>
      <br />
    </div>
  </div>
</div>
