<button type="button" class="btn btn-primary feedback-button" data-toggle="modal" data-target="#feedbackModal">
  Send feedback <i class="fa fa-comment"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="feedbackModalLabel">Send Feedback</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>
          We highly appreciate any feedback you can give us. With your feedback we can improve our service for you and
          other people to be able to provide a better user experience. What do you like? What do you dislike? <br>
          Thank you very much for your support!
        </h6>
        <br>
        <textarea id="description-input" class="form-control width-locked" rows="5" placeholder="Write your feedback here" required
                  [(ngModel)]="feedback.description"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="feedbackCancel()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="feedbackSubmit()" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
