<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <h5>Legal notice:</h5>
      <p>
        Freie Universität Berlin<br>
        Institut für Informatik<br>
        Prof. Dr. Matthias Wählisch<br>
        Takustr. 9<br>
        14195 Berlin<br>
      </p>
    </div>
    <div class="col-sm-5">
      <h5>Contact:</h5>
      <p>
        Office: +49-30-838-75212<br>
        Phone: +49 30 838 50072<br>
        Fax: +49 30 838 450072<br>
        E-Mail: m.waehlisch@fu-berlin.de<br>
      </p>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
